view, input, navigator, button {
	border-width: 0;
	border-style: solid;
}

view, text {
	font-family: PingFang SC, PingFang SC;
}

.mt-8 {
	margin-top: 8rpx;
}
.mt-32 {
	margin-top: 32rpx;
}

.ml-24 {
	margin-left: 24rpx;
}

.p-12 {
	padding: 12rpx;
}

.p-24 {
	padding: 24rpx;
}

.pt-8 {
	padding-top: 8rpx;
}
.pt-32 {
	padding-top: 32rpx
}

.z-behind {
	z-index: -1
}

.c-gray-1 {
	color: #8C8E9D;
}

.c-gray-2 {
	color: #666A73;
}

.c-blue-1 {
	color: #151727;
}

.lh-30 {
	line-height: 30rpx;
}
.fs-24 {
	font-size: 24rpx;
}
.fs-26 {
	font-size: 26rpx;
}
.fs-30 {
	font-size: 30rpx;
}
.fs-32 {
	font-size: 32rpx;
}

.bg-orange {
	background-color: #FF8741;
}

.bg-red {
	background-color: #FF5661;
}

.bg-gray {
	background-color: #F1F2F6;
}

.rounded-half {
	border-radius: 50%;
}

.br-16 {
	border-radius: 16rpx;
}

.p-h-32 {
	padding-left: 32rpx;
	padding-right: 32rpx;
}

.hp100 {
	height: 100%;
}

.wp50 {
	width: 50%;
}

.justify-end {
	justify-content: flex-end;
}

.btn {
    align-items: center;
    border-color: transparent;
    border-radius: .25rem;
    border-width: 1px;
    display: inline-flex;
	font-size: 1rem;
	line-height: 2rem;
    padding: .5rem .75rem;
    pointer-events: auto;
	margin-left: unset;
	margin-right: unset;
	justify-content: center;
}

.btn-danger {
    background-color: $uni-color-error;
    color: rgba(255,255,255);
}

.btn-primary {
    background-color: $uni-color-primary;
    color: rgba(255,255,255);
}
.btn-default {
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-color: $uni-color-primary;
    border-width: 1px;
    color: $uni-color-primary;
}

.text-primary {
	color: $uni-color-primary;
}

.border-primary {
	border-color: $uni-color-primary;
}
.border-solid {
	border-style: solid;
}

.bg-primary {
	background-color: $uni-color-primary;
}

.playing {
	text {
		color: #1296db !important;
	}
}