view, input, navigator, button {
	border-width: 0;
	border-style: solid;
}

.btn {
    align-items: center;
    border-color: transparent;
    border-radius: .25rem;
    border-width: 1px;
    display: inline-flex;
	font-size: 1rem;
	line-height: 2rem;
    padding: .5rem .75rem;
    pointer-events: auto;
	margin-left: unset;
	margin-right: unset;
	justify-content: center;
}

.btn-danger {
    background-color: $uni-color-error;
    color: rgba(255,255,255);
}

.btn-primary {
    background-color: $uni-color-primary;
    color: rgba(255,255,255);
}
.btn-default {
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    border-color: $uni-color-primary;
    border-width: 1px;
    color: $uni-color-primary;
}

.text-primary {
	color: $uni-color-primary;
}

.border-primary {
	border-color: $uni-color-primary;
}

.bg-primary {
	background-color: $uni-color-primary;
}

.playing {
	text {
		color: #1296db !important;
	}
}