view, input, navigator, button {
	border-width: 0;
	border-style: solid;
}

view, text {
	font-family: PingFang SC, PingFang SC;
}

.mt-8 {
	margin-top: 8rpx;
}
.mt-24 {
	margin-top: 24rpx;
}
.mt-32 {
	margin-top: 32rpx;
}
.ml-12 {
	margin-left: 12rpx;
}
.ml-16 {
	margin-left: 16rpx;
}

.ml-24 {
	margin-left: 24rpx;
}
.mr-20 {
	margin-right: 20rpx;
}

.mr-24 {
	margin-right: 24rpx;
}
.mr-32 {
	margin-right: 32rpx;
}
.mb-16 {
	margin-bottom: 16rpx;
}
.mb-24 {
	margin-bottom: 24rpx;
}

.pl-8 {
	padding-left: 8rpx;
}

.p-12 {
	padding: 12rpx;
}

.p-24 {
	padding: 24rpx;
}

.pt-8 {
	padding-top: 8rpx;
}
.pt-12 {
	padding-top: 12rpx;
}
.pt-32 {
	padding-top: 32rpx
}

.pb-8 {
	padding-bottom: 8rpx;
}

.z-behind {
	z-index: -1
}

.c-gray-1 {
	color: #8C8E9D;
}

.c-gray-2 {
	color: #666A73;
}
.c-gray-3 {
	color: #B3B5C0;
}

.c-gray-4 {
	color: #666
}

.c-blue-1 {
	color: #151727;
}

.c-blue-2 {
	color: #25314C;
}
.c-white {
	color: #fff
}

.c-green-1 {
	color: #1CD1AD;
}

.lh-30 {
	line-height: 30rpx;
}

.fs-20 {
	font-size: 20rpx;
}
.fs-22 {
	font-size: 22rpx;
}
.fs-24 {
	font-size: 24rpx;
}
.fs-26 {
	font-size: 26rpx;
}
.fs-28 {
	font-size: 28rpx;
}
.fs-30 {
	font-size: 30rpx;
}
.fs-32 {
	font-size: 32rpx;
}
.fs-34 {
	font-size: 34rpx;
}

.w-32 {
	width: 32rpx;
	height: 32rpx
}
.w-40 {
	width: 40rpx;
	height: 40rpx;
}
.w-48 {
	width: 48rpx;
	height: 48rpx;
}

.bg-orange {
	background-color: #FF8741;
}

.bg-red {
	background-color: #FF5661;
}

.bg-gray {
	background-color: #F1F2F6;
}
.bg-gray-2 {
	background-color: #FAFAFA;
}

.rounded-half {
	border-radius: 50%;
}

.br-16 {
	border-radius: 16rpx;
}
.br-20 {
	border-radius: 20rpx;
}
.br-22 {
	border-radius: 22rpx;
}
.br-24 {
	border-radius: 24rpx;
}

.p-h-32 {
	padding-left: 32rpx;
	padding-right: 32rpx;
}

.hp100 {
	height: 100%;
}

.wp50 {
	width: 50%;
}

.gap-8 {
	gap: 8rpx;
}
.gap-12 {
	gap: 12rpx;
}
.gap-16 {
	gap: 16rpx;
}
.gap-24 {
	gap: 24rpx;
}
.gap-32 {
	gap: 32rpx;
}
.gap-40 {
	gap: 40rpx;
}

.justify-end {
	justify-content: flex-end;
}
.items-baseline {
	align-items: baseline;
}
.no-shrink {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1
}
.no-grow {
	flex-grow: 0;
}
.no-stretch {
	align-self: baseline;
}

.front {
	position: absolute;
	top: 0;
	left: 0;
}

.tui-header-icon {
	width: 100%;
	position: absolute;
	bottom: 12rpx;
	padding: 0 12rpx;
	display: flex;
	align-items: center;
	height: 32px;
	transform: translateZ(0);
	z-index: 99999;
	box-sizing: border-box;
}

.float-right {
	float: right
}

.event-none {
	pointer-events: none;
}

.event-auto {
	pointer-events: auto;
}

.text-right {
	text-align: right;
}
