@font-face {
  font-family: "iconfont"; /* Project id 4248996 */
  src: url('/static/iconfont.ttf') format('truetype');
}



.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-jiazaizhong:before {
  content: "\e7bd";
}

.icon-dianhua:before {
  content: "\e65c";
}

.icon-maikefeng:before {
  content: "\e8c2";
}

.icon-deng:before {
  content: "\e785";
}

.icon-xiangyoujiantou:before {
  content: "\e660";
}

.icon-bijiben:before {
  content: "\e63a";
}

.icon-jiaxingshoucangtianchong:before {
  content: "\e683";
}

.icon-yaoqing:before {
  content: "\e71f";
}

.icon-jiangli:before {
  content: "\e611";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-huiyuan1:before {
  content: "\e696";
}

.icon-huiyuan:before {
  content: "\e65f";
}

.icon-touxiang:before {
  content: "\e62c";
}

.icon-lujing:before {
  content: "\e621";
}

.icon-laba:before {
  content: "\e600";
}

.icon-fanyi:before {
  content: "\e6ba";
}

.icon-shouye1:before {
  content: "\e639";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-duihua:before {
  content: "\e626";
}


